{% extends 'base.html' %}

{% block head %}
<title>Friend Requests</title>
{% endblock head %}

{% block content %}
    <div class='errors'>
        {% with err_msg=get_flashed_messages()  %}
            {% if err_msg %}
                <ul>
                    {% for msg in err_msg %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="friend-requests">
        <a href="{{ url_for('friend.friends_list') }}">Friends</a>
        {% if friends_list %}
            <h1>Friend requests</h1>
            <div class="friend-container">
                {% for friend in friends_list %}
                    <div class="friend-card">
                        <div class="profile-picture">
                            {% if friend.profile_pic %} 
                                <a href="{{ url_for('profiles.user_profile', user_id=friend.id) }}">
                                    <img class="profile-pic" src="{{ url_for('static', filename='data/' + friend.email + '/' + friend.profile_pic) }}" alt="Profile Picture">
                                </a>
                            {% else %}
                                <a href="{{ url_for('profiles.user_profile', user_id=friend.id) }}">
                                    <img class="profile-pic" src="{{ url_for('static', filename='images/defaul_image.jpeg') }}" alt="Default Profile Picture">
                                </a>
                            {% endif %}
                        </div>
                        <div class="username">
                            <h2>{{ friend.username }}</h2>
                        </div>
                        <div class="buttons">
                            <a href="{{ url_for('friend.accept_friend_request', friend_id=friend.id) }}">
                                <button class="accept-btn" >Accept</button>
                            </a>
                            <a href="{{ url_for('friend.delete_friend_request', friend_id=friend.id) }}">
                                <button class="delete-btn" >Delete</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-requests">No friend requests at the moment.</p>
        {% endif %}
    </div>
    <div class="users-container">
        {% if users_list %}
        <h1>Users You might now!</h1>
            <div class="user-container">
                {% for user in users_list %}
                    <div class="user-card">
                        <div class="profile-picture">
                            {% if user.profile_pic %} 
                                <a href="{{ url_for('profiles.user_profile', user_id=user.id) }}">
                                    <img class="profile-pic" src="{{ url_for('static', filename='data/' + user.email + '/' + user.profile_pic) }}" alt="Profile Picture">
                                </a>
                            {% else %}
                                <a href="{{ url_for('profiles.user_profile', user_id=user.id) }}">
                                    <img class="profile-pic" src="{{ url_for('static', filename='images/defaul_image.jpeg') }}" alt="Default Profile Picture">
                                </a>
                            {% endif %}
                        </div>
                        <div class="username">
                            <h3>{{ user.username }}</h3>
                        </div>
                        <div class="buttons">
                            <a href="{{ url_for('friend.send_friend_request', friend_id=user.id) }}">
                              
                                <button class="accept-btn" >Add</button>
                            </a>
            
                            <a href="{{ url_for('profiles.user_profile', user_id=user.id) }}">
                                
                                <button class="success-btn" >View Profile</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock content %}
