<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.home') }}">Home</a></li>
                    <li><a href="{{ url_for('profiles.profile_info') }}">Profile</a></li>
                    <li><a href="{{ url_for('post.create_post') }}">Post</a></li>
                    <li><a href="{{ url_for('friend.friend_requests') }}">Requests</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('search.search_root') }}">Search</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <h5>&copy; 2023 Abook. All rights reserved.</h5>
    </footer>
</body>
</html>
